* {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(218, 23%, 16%);
    padding: 15px;
}

.advice-container {
    position: relative;
    background-color: hsl(217, 19%, 24%);
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 35px 20px;
    margin: 0 auto;
    margin-top: 100px;
}

p {
    color: hsl(150, 100%, 66%);
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 20px;
    font-size: 13px;
}

.advice-body {
    color: hsl(193, 38%, 86%);
    font-size: 24px;
    text-align: center;
    margin-bottom: 25px;
}

.dice {
    background-color: hsl(150, 100%, 66%);
}

.dice-container {
    position: absolute;
    background-color: hsl(150, 100%, 66%);
    bottom: -35px;
    box-sizing: content-box;
    padding: 20px;
    border-radius: 50%;
    height: 24px;    
    transition: box-shadow .1s ease-in-out .01s;
}

.dice-container:active {
    box-shadow: 0px 0px 25px 10px hsla(150, 100%, 66%, 0.304);
}

.divider {
    margin-bottom: 30px;
}

.divider-desktop {
    display: none;
    margin-bottom: 30px;
}

@media (min-width: 530px) {
    .divider {
        display: none;
    }

    .divider-desktop {
        display: initial;
    }

    .dice-container:hover {
        cursor: pointer;
        box-shadow: 0px 0px 25px 10px hsla(150, 100%, 66%, 0.304);
    }
}